@import '~include-media/dist/include-media';

/* Colours */
$thunder: #1f1c1f;
$mischka: #dedddf;

/* Track Button Hover */
@mixin track-button-hover {
  content: '';
  height: 3px;
  width: 0;
  position: absolute;
  left: 103%;
}